<div th:fragment="footer">
    <footer class="text-muted py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Вернуться наверх</span></span></a>
            </p>
            <p class="mb-0"><span style="vertical-align: inherit;"></span><a href="/"><span style="vertical-align: inherit;"><span
                    style="vertical-align: inherit;">Посетите домашнюю страницу</span></span></a><span style="vertical-align: inherit;"><span
                    style="vertical-align: inherit;"> или наш Instagram </span></span><a href="https://www.instagram.com/invites/contact/?i=1jq5mvb4tbc2y&utm_content=k7xrcw9"><span
                    style="vertical-align: inherit;"><span style="vertical-align: inherit;">@La_bantik_butik</span></span></a><span
                    style="vertical-align: inherit;"><span
                    style="vertical-align: inherit;"> .</span></span></p>
        </div>
    </footer>
</div>