<div th:fragment="footer">
    <footer class="text-muted py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Вернуться наверх</font></font></a>
            </p>
            <p class="mb-0"><font style="vertical-align: inherit;"></font><a href="/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Посетите домашнюю страницу</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> или наш Instagram </font></font><a href="/docs/5.0/getting-started/introduction/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@La_bantik_butik</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> .</font></font></p>
        </div>
    </footer>
</div>