<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <span class="fs-1"> 🎀  𝐿𝑒 𝐵𝒶𝓃𝓉𝒾𝓀 𝐵𝓊𝓉𝒾𝓀  🎀 </span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none" href="/">Главная</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/blog">Заказы в работе</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/blog/add">Добавить заказ</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/about">Выполненные заказы</a>
        </nav>
    </div>
</div>